.save-button{
    background-color:red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    cursor: 0.8;
    transition: opacity 0.3s ease;
    border-radius: 5%;
}
.save-button:hover{
    opacity: 1;
}